[general]
logfolder                   = log
management_interval         = 30

broker                      = default_broker

site_adapters               = freiburg_cloud
int_adapters                = slurm_int_freiburg
req_adapters                = slurm_req_freiburg

[default_broker]
type 			    = Broker.StupidBroker
shutdown_delay	            = 0
max_instances 	            = 1000

[freiburg_cloud]
type                        = FreiburgSiteAdapter
logger_name                 = FrSite
machines                    = {"vm-default":{"cores":4,"memory":"22gb","walltime":"02:00:00:00"}}
site_name                   = freiburg_cloud
site_description            = Freiburg OpenStack Cloud
freiburg_user               = fr_ms1414
# freiburg_user_group       = fr_fr #WANING!!!! DO NOT USE user_group
# Private key file which is used to log in to Nemo login node
freiburg_key                = /home/centos/.ssh/id_rsa
freiburg_server             = login2.nemo.uni-freiburg.de
# Currently this is only implemented for HTCondor. Use "True" in the meantime.
ignore_draining_machines    = False
drain_working_machines      = False
max_machines_per_cycle      = 10
max_machines                = 200
vm_prefix                   = moab-vm-
IntegrationAdapterType      = SlurmIntegrationAdapter

[slurm_int_freiburg]
type                        = SlurmIntegrationAdapter
logger_name                 = HTCIntFr
site_name                   = freiburg_cloud
# Optional filter on HTCondor's machine overview [condor_status -constraint ...]. True will return all machines.
condor_constraint           = False
# If HTCondor is installed on the machine running ROCED, keep localhost
# Otherwise use explicit Hostname/IP and supply username + SSH key
slurm_server                = ui.bfg.uni-freiburg.de
slurm_user                  = km1005
slurm_key                   = /home/centos/.ssh/id_rsa
slurm_partition		    = nemo_vm_atlsch
# Wait in status pending disintegration before shutting down
slurm_wait_pd               = 8
# Wait in status working before moving to pending disintegration (when idle)
slurm_wait_working          = 2
slurm_deadline              = 6

[slurm_req_freiburg]
type                        = SlurmRequirementAdapter
# Optional filter on jobs [HTCondor's condor_q -constraint ...]. True will return all jobs.
condor_constraint           = False
# Optional filtering on HTCondor's jobs' TARGET.Requirements via grep -i
# Remove completely if you don't want to filter on requirements
slurm_requirement           = to_set
machines                    = {"vm-default":{"cores":4,"memory":"22gb","walltime":"02:00:00:00"}}
# If HTCondor is installed on the machine running ROCED, keep localhost
# Otherwise use explicit Hostname/IP and supply username + SSH key
slurm_server                = ui.bfg.uni-freiburg.de
slurm_user                  = km1005
slurm_key                   = /home/centos/.ssh/id_rsa
slurm_partition		    = nemo_vm_atlsch